/* headers and paragraphs */

h3{
    
    margin: 0.5rem 2rem 2rem 0 ;
}
p{
    margin-bottom: 1rem;
}
.line.one{
    border-top: 5px solid rgb(97, 136, 209);
}



/* main */

.Main-text, .Main-imageContent, .Media{
    margin: 0 2rem;

}
.Main-text{
    border-bottom: 0.5px solid lightgray;
}

.Main-textLink{
    text-decoration: none;
    color: rgb(97, 136, 209) ;
}



/* images */

img.image{
    width: 100%;
    height:auto;
}

@media screen and (min-width:900px)
{
    .grid-sections
    {
        margin-bottom: 6rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
    }
    .Media
    {    grid-column: 2


    }
    .Main-text{
        margin-top: 4rem;
    }
}


    @media screen and (min-width: 1800px){

    .grid-sections {
        margin: 0 10rem;
    }

   
}
