.Order-button a {
    text-decoration: none;
    color: white;
}
img.image{
    width: 100%; 
}
.Main-image, .Single-Products{
    border: 1px solid lightslategray;
    padding: 2rem;
    border-radius: 5px; 
    
}
h3{
    
    margin: 0.5rem 2rem 2rem 0 ;
}
p{
    font-weight: 300;
    line-height: 2;
}
.price,.left{
    margin-bottom: 1rem;
    font-weight: 600;
    color:  rgb(97, 136, 209)

}
.line.one{
    border-top: 5px solid rgb(97, 136, 209);
}

.Single-Products{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
   
}

.Single-ProductsThumb{
    grid-column: 1 / span 2;
}
.Single-ProductsThumbTwo
{
    width: 95%;
    justify-self: right;

}
.Single-ProductsThumb{
       width: 100%;
    padding: 0.5rem;
    justify-self: center;
}
.Single-ProductsItem
{
    width: 95%;
    justify-self: left;


}

.Order-button{
    background-color: rgb(97, 136, 209);
    padding: .5rem;
    border-radius: 5px;
    width: 5rem;
    height: 2rem;
    margin-top: 1rem;

}
.Quantity-Number
{
    width: 2rem;
    padding: 0.5rem;
    height: 2rem;
    margin: 1rem;
    border:0.3px solid gray;
    
}

.Quantity{
    display: flex;
    border-bottom:0.3px solid rgb(190, 190, 190);

}

.Media-inner{
    display: flex;

}

.Main-image.Flex{
    display: none;
}
@media screen and (min-width:900px)
{
    .Main-imageFlexContainer{
    display: flex;
    justify-content: center;
    }
    .Main-image.Flex.small{
    display: unset;
    }

    .Main-image{
       margin:  0 1rem 1rem 0;
        
    }
  
}
@media screen and (min-width:900px)
{
    .Main-imageFlexContainer{
    display: flex;
    justify-content: space-evenly;
    }
    .Main-image.Flex.big{
    display: unset;
    }
   } 
@media screen and (min-width:900px)
{
    .grid-sections
    {
        margin-bottom: 6rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
        
    }
    .Media
    {    grid-column: 2


    }
    .Product,.Main-imageContent
    {
margin: 0 3rem;
    }
    .Single-Products{
        margin-right: 2rem;
    }


}
@media screen and (min-width:1800px)
{
  
.grid-sections {
    margin: 0 6rem 6rem;
}
}
